[submodule "local/src/fzf"]
	path = local/src/fzf
	url = https://github.com/junegunn/fzf
[submodule "local/src/dircolors-solarized"]
	path = local/src/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "/Users/fabian.doerk/.oh-my-zsh"]
	path = /Users/fabian.doerk/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "local/src/powerlevel9k"]
	path = local/src/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
